In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

Задание 1
В качестве первого шага давайте посмотрим на наши данные c помощью метода head()

Перечислите первые три значения колонки dateAdded через запятую и пробел в том порядке, в котором они были выведены.

In [3]:
list_of_df=list(df['dateAdded'].head(3))

In [4]:
result = ', '.join(list_of_df)

In [5]:
result

'2016-03-02T11:49:34Z, 2016-03-02T11:49:34Z, 2016-10-14T01:58:25Z'

In [6]:
print(', '.join(list(df['dateAdded'].head(3))))

2016-03-02T11:49:34Z, 2016-03-02T11:49:34Z, 2016-10-14T01:58:25Z

Задание 2
Давайте посмотрим, какой тип имеют колонки city и latitude.

In [7]:
df[['city', 'latitude']].dtypes

city         object
latitude    float64
dtype: object

Задание 5
Какие средние значения в тех колонках, которые вывел describe в предыдущем задании?

In [8]:
df.describe()

           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696

Задание 6
Сейчас в данных присутствуют пропущенные значения. Давайте их удалим.

Примените метод dropna.  Сколько осталось записей?

In [9]:
df.dropna().shape

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
72,AVwc_6st_7pvs4fz1Mln,95 Matthews Dr,Restaurant,Hilton Head Island,"Japanese, Thai, Hibachi",2015-10-19T20:43:35Z,2016-08-22T11:22:45Z,32.212044,-80.701132,Appetizers Sushi Bar,USD,2016-08-20T00:00:00Z,"Pepper tuna, pepper white tuna, spicy crab mea...",Taco Tara,Okko Hilton Head,SC
242,AVwc_DjlkufWRAb51GPc,2610 Lyndale Ave S,Restaurant,Minneapolis,"American, Bar / Lounge / Bottle Service",2016-08-01T19:18:23Z,2016-08-22T11:27:55Z,44.954945,-93.288246,Main Course,USD,2016-08-20T00:00:00Z,Main i pico slaw i radish i cilantro-lime crem...,Blackened Fish Tacos,French Meadow Cafe & Bluestem Bar,MN
243,AVwc_DjlkufWRAb51GPc,2610 Lyndale Ave S,Restaurant,Minneapolis,"American, Bar / Lounge / Bottle Service",2016-08-01T19:18:23Z,2016-08-22T11:27:55Z,44.954945,-93.288246,Main Course,USD,2016-08-20T00:00:00Z,Blackened organic tempeh i tempeh chorizo i pi...,Blackened Tempeh Tacos,French Meadow Cafe & Bluestem Bar,MN
259,AVwc_DW1_7pvs4fz1DBV,119 W Clay St,"Bistro,American Restaurant,New American Restau...",Mebane,"American Restaurants,American, Contemporary Am...",2016-03-31T02:34:19Z,2017-07-03T17:12:10Z,36.097057,-79.267750,Main,USD,2016-04-24T00:00:00Z,"Grilled or blackened with house made tortilla,...",Shrimp or Mahi Taco,Mebane Downtown Table,NC
261,AVwc_DW1_7pvs4fz1DBV,119 W Clay St,"Bistro,American Restaurant,New American Restau...",Mebane,"American Restaurants,American, Contemporary Am...",2016-03-31T02:34:19Z,2017-07-03T17:12:10Z,36.097057,-79.267750,Starters,USD,2016-04-24T00:00:00Z,"Slow cooked leg of duck, house made tortilla w...",Duck Confit Tacos,Mebane Downtown Table,NC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76997,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,"A new favorite Slowsmoked brisket, served in y...",Brisket Tacos,Los Vaqueros - West,TX
76998,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,The chefs favorite when he is too busy to sit ...,Johnnys Burrito Bowl,Los Vaqueros - West,TX
76999,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,"With chili con queso, Spanish rice and refried...",One Beef or Chicken Burrito,Los Vaqueros - West,TX
77000,AVz0WZf3-gnIPe8DUW4y,2300 Matlock Rd. Suite 21,Restaurant,Mansfield,"Mexican, American, Seafood",2017-06-29T14:55:31Z,2017-06-29T14:55:31Z,32.594093,-97.106282,Ensaladas Salads,USD,2017-06-28T17:33:26.597Z,Seasoned picadillo beef served with fresh mixe...,Ensalada Taco,El Primo's Mexican Grill & Cantina,TX
77014,AVz0WZsS-gnIPe8DUW45,4150 North MacArthur Blvd,Restaurant,Irving,"Steakhouse, American",2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.862452,-96.959246,Air,USD,2017-06-28T17:36:57.862Z,peppers onions jack cheese flour tortilla sour...,Beer Can Chicken Tacos,LAW at Four Seasons Dallas,TX

In [10]:
df

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

In [11]:
df

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

Задание 7
Отберите заведения, которые находятся в городе Калифорния ('California'), штат Миссури.  Укажите индексы, под которыми полученные заведения расположены в датафрейме, через запятую и пробел в порядке возрастания.

In [12]:
df[df['city'] == 'California'].index

Index([40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938,
       52939, 65070],
      dtype='int64')

Задание 8
Отберите заведения Taco Bell в городе Калифорния ('California'), штат Миссури.

Укажите индексы этих заведений через запятую и пробел в порядке возрастания.

In [13]:
df[( df['city'] == 'California')&(df['name'] == 'Taco Bell')].index

Index([52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939], dtype='int64')

In [14]:
result = df[( df['city'] == 'California')|(df['name'] == 'Taco Bell') & ((~(df['name'] == 
                                                                           'Volcano Taco'))) & (~(df['name'] == 
                                                                           'Fresco Soft Taco'))]

In [15]:
result

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
130,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Taco,Taco Bell,NH
131,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Burrito,Taco Bell,NH
132,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Taco 12 Pack,Taco Bell,NH
133,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Grilled Steak Soft Taco,Taco Bell,NH
134,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Soft Taco,Taco Bell,NH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75798,AVweTxkOkufWRAb5BzP7,11315 Causeway Blvd,"Fast Food Restaurant,Mexican Restaurant,Fast F...",Brandon,Fast Food Restaurants,2016-03-30T04:15:38Z,2017-07-03T14:00:59Z,27.922768,-82.321643,NaN,NaN,2016-03-30T04:15:38Z,NaN,Chicken Burrito,Taco Bell,FL
75799,AVweTxkOkufWRAb5BzP7,11315 Causeway Blvd,"Fast Food Restaurant,Mexican Restaurant,Fast F...",Brandon,Fast Food Restaurants,2016-03-30T04:15:38Z,2017-07-03T14:00:59Z,27.922768,-82.321643,NaN,NaN,2016-03-30T04:15:38Z,NaN,Cantina Burrito,Taco Bell,FL
75800,AVweTxkOkufWRAb5BzP7,11315 Causeway Blvd,"Fast Food Restaurant,Mexican Restaurant,Fast F...",Brandon,Fast Food Restaurants,2016-03-30T04:15:38Z,2017-07-03T14:00:59Z,27.922768,-82.321643,NaN,NaN,2016-03-30T04:15:38Z,NaN,Black Bean Burrito,Taco Bell,FL
75801,AVweTxkOkufWRAb5BzP7,11315 Causeway Blvd,"Fast Food Restaurant,Mexican Restaurant,Fast F...",Brandon,Fast Food Restaurants,2016-03-30T04:15:38Z,2017-07-03T14:00:59Z,27.922768,-82.321643,NaN,NaN,2016-03-30T04:15:38Z,"A warm, soft, flour tortilla wrapped around he...",Bean Burrito,Taco Bell,FL
76872,AVweZKG8kufWRAb5ChGQ,6224 Bluffton Rd,"Fast Food Restaurant,Mexican Restaurant",Fort Wayne,NaN,2015-10-19T23:50:22Z,2016-09-12T19:57:50Z,NaN,NaN,NaN,NaN,2015-10-19T23:50:22Z,NaN,Baja Fish Taco,Taco Bell,Waynedale

Задание 9
Давайте найдем заведения Taco Bell или заведения, которые находятся в городе Нью-Йорк. При этом обязательно, чтобы в названии меню не было Volcano Taco и Fresco Soft Taco (именно таких значений колонки). Данные нужно сохранить в датафрейм result.

Данные загружены в переменную data.

In [16]:
import pandas as pd
df = pd.read_csv('data.csv')
result = df[(( df['city'] == 'New York')|(df['name'] == 'Taco Bell')) & (~df['name'].isin(['Volcano Taco', 'Fresco Soft Taco']))]

In [17]:
result

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
130,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Taco,Taco Bell,NH
131,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Burrito,Taco Bell,NH
132,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Taco 12 Pack,Taco Bell,NH
133,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Grilled Steak Soft Taco,Taco Bell,NH
134,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Soft Taco,Taco Bell,NH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76904,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Tacos,USD,2016-08-21T00:00:00Z,NaN,Trio of Tacos,Hell's Kitchen,Nyc
76905,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,"Huevos, Etc.",USD,2016-08-07T00:00:00Z,NaN,Brunch Burrito,Hell's Kitchen,Nyc
76906,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,NaN,Grilled Chicken Mini Burrito,Hell's Kitchen,Nyc
76907,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,with pumpkin seed guacamole,Grilled Vegetable Mini Burrito,Hell's Kitchen,Nyc
76908,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Main,NaN,2016-08-21T00:00:00Z,NaN,Burritos,Hell's Kitchen,Nyc

In [18]:
df[df['city'] == 'New York']

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
1995,AVwc15AmByjofQCxix8i,44 W 44th St,Restaurant,New York,American,2016-08-02T19:33:58Z,2016-08-26T08:38:39Z,40.755355,-73.981334,A La Carte,USD,2016-04-24T00:00:00Z,"scrambled eggs, mashed avocado, jack cheese, s...",Lobster and Crab Breakfast Burrito,Forty Four,Nyc
1996,AVwc15AmByjofQCxix8i,44 W 44th St,Restaurant,New York,American,2016-08-02T19:33:58Z,2016-08-26T08:38:39Z,40.755355,-73.981334,Stationary Platters,NaN,2016-08-23T00:00:00Z,"Sweet and sour cabbage, guacamole",Grilled Chicken Tacos,Forty Four,Nyc
1997,AVwc15AmByjofQCxix8i,44 W 44th St,Restaurant,New York,American,2016-08-02T19:33:58Z,2016-08-26T08:38:39Z,40.755355,-73.981334,Stationary Platters,NaN,2016-08-23T00:00:00Z,"Pickled red onion, pea tendrils",Braised Short Rib Tacos,Forty Four,Nyc
1998,AVwc15AmByjofQCxix8i,44 W 44th St,Restaurant,New York,American,2016-08-02T19:33:58Z,2016-08-26T08:38:39Z,40.755355,-73.981334,Stationary Platters,NaN,2016-08-23T00:00:00Z,Cucumber-mango relish,Ahi Tuna Tacos,Forty Four,Nyc
2345,AVwc1KkMIN2L1WUfpXqQ,234 E 116th St,"Mexican Restaurant,Taco Place",New York,NaN,2016-10-20T07:09:03Z,2016-10-20T07:09:03Z,40.797279,-73.938542,NaN,USD,2016-10-20T07:09:03Z,NaN,Burrito (any Meat),Taco Mix,Nyc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76904,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Tacos,USD,2016-08-21T00:00:00Z,NaN,Trio of Tacos,Hell's Kitchen,Nyc
76905,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,"Huevos, Etc.",USD,2016-08-07T00:00:00Z,NaN,Brunch Burrito,Hell's Kitchen,Nyc
76906,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,NaN,Grilled Chicken Mini Burrito,Hell's Kitchen,Nyc
76907,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,with pumpkin seed guacamole,Grilled Vegetable Mini Burrito,Hell's Kitchen,Nyc
76908,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Main,NaN,2016-08-21T00:00:00Z,NaN,Burritos,Hell's Kitchen,Nyc

Задание 10
Давайте отберем заведения, где значение валюты, в которой принимают оплату, не пропущено.

Нужно сохранить данные в результирующий датафрейм result.

In [19]:
df[~(df['menus.currency'].isna())]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
15,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Potatoes, onion, peppers, mushroom, avocado, b...",Mondo Veggie Burrito,Java Joe's,NM
16,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Grilled tofu, potatoes and your choice of chil...",Tofu Burrito,Java Joe's,NM
17,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z",NaN,Black Bean Burrito,Java Joe's,NM
18,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,NaN,Burrito De Rajas,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
19,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,"lettuce, chihuahua cheese, black beans, mexica...",Taco,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

In [20]:
df['categories']

0        Restaurant Delivery Service,Restaurants,Pizza,...
1        Restaurant Delivery Service,Restaurants,Pizza,...
2             Golf Course, American Restaurant, and Resort
3                                     Fast Food Restaurant
4        Mexican Restaurant Mid-City West,Mexican Resta...
                               ...
77255                                           Restaurant
77256                                           Restaurant
77257                                           Restaurant
77258                                           Restaurant
77259                                           Restaurant
Name: categories, Length: 77260, dtype: object

In [21]:
df[['categories']]

                                              categories
0      Restaurant Delivery Service,Restaurants,Pizza,...
1      Restaurant Delivery Service,Restaurants,Pizza,...
2           Golf Course, American Restaurant, and Resort
3                                   Fast Food Restaurant
4      Mexican Restaurant Mid-City West,Mexican Resta...
...                                                  ...
77255                                         Restaurant
77256                                         Restaurant
77257                                         Restaurant
77258                                         Restaurant
77259                                         Restaurant

[77260 rows x 1 columns]

In [22]:
#df['categories', 'city']

KeyError: ('categories', 'city')

In [ ]:
#df[['categories', 'city']]

Задание 12
Напишите через запятую и пробел 5 городов с наибольшим количеством записей (в порядке убывания количества записей).

In [24]:
df['city'].value_counts()

city
San Diego            1924
Los Angeles          1603
Chicago              1186
San Francisco        1120
New York             1085
                     ...
Corfu                   1
Sharon Hill             1
Lawrence Township       1
Selinsgrove             1
Santa Clarita           1
Name: count, Length: 3601, dtype: int64

In [23]:
df

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

Задание 13
Посчитайте, сколько ресторанов Taco Bell находится в каждом городе. Отберите 5 городов, в которых ресторан встречается чаще всего. Количество ресторанов для этих городов с их названиями сохраните в виде объекта pd.Series в переменную result.

In [30]:
df[df['name'] == 'Taco Bell']['city'].value_counts()[:5]

city
Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: count, dtype: int64

In [34]:
df[df['name'] == 'Taco Bell'].groupby('name')['city'].value_counts()[:5]

name       city
Taco Bell  Indianapolis    84
           Columbus        63
           Charleston      63
           Tampa           62
           Fresno          42
Name: count, dtype: int64

In [35]:
df.groupby('name')['city'].value_counts().loc['Taco Bell'][:5]

city
Indianapolis    84
Charleston      63
Columbus        63
Tampa           62
Yukon           42
Name: count, dtype: int64

In [81]:
from datetime import datetime
df_1 = df.copy()
df_1['dateAdded'] = pd.to_datetime(df_1['dateAdded'])
df_1['dateUpdated'] = pd.to_datetime(df_1['dateUpdated'])

In [39]:
df_1

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

Задание 14
В качестве ответа отправьте индексы первых пяти записей, соответствующих ресторанам, открытым в октябре (ресторан может повторяться). Ответ запишите через запятую и пробел в порядке возрастания.

In [46]:
df_1[df_1['dateAdded'].dt.month == 10]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
21,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Crispy house-smoked pork belly, hoisin sauce, ...",Korean Pork Belly Tacos,Riff's Joint,Westhampton
22,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, corn and black bean salsa, guacam...",Speedy Gonzalez Burrito,Riff's Joint,Westhampton
23,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, jasmine rice and peanut slaw",Thai Dyed Burrito,Riff's Joint,Westhampton
24,AVwc_3Kp_7pvs4fz1MDQ,116 Pleasant St,"Restaurant,Seafood Restaurants,Take Out Restau...",Easthampton,"American,Seafood Restaurants",2015-10-26 23:10:06+00:00,2016-09-19T17:41:29Z,42.273525,-72.663124,NaN,USD,2016-09-19T17:41:29Z,"Black beans, cheddar, salsa, rice, sour cream,...",Burrito Supreme,Riff's Joint,Westhampton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76927,AVweZtCQByjofQCxx3uK,11688 Us 23,Fast Food Restaurant,Waverly,NaN,2015-10-22 19:23:28+00:00,2016-08-09T10:11:49Z,39.119935,-82.993279,NaN,NaN,2015-10-22T19:23:28Z,NaN,Sausage Burrito,Mcdonalds,OH
76946,AVweZZ31IN2L1WUf4jVT,2521 Bagby,Restaurant,Houston,"Continental, Contemporary European, Global, In...",2015-10-19 20:42:46+00:00,2016-08-22T11:26:45Z,29.748747,-95.379022,Specialty Bar Menu,USD,2016-04-24T00:00:00Z,NaN,Ahi Tuna Crispy Taco (2),Charivari,TX
76947,AVweZZ31IN2L1WUf4jVT,2521 Bagby,Restaurant,Houston,"Continental, Contemporary European, Global, In...",2015-10-19 20:42:46+00:00,2016-08-22T11:26:45Z,29.748747,-95.379022,Specialty Bar Menu,USD,2016-08-20T00:00:00Z,NaN,Pork Shank (schweinehaxe) Taco (2),Charivari,TX
76948,AVweZ-ZKIN2L1WUf4n9V,110 W Hubbard,Restaurant,Chicago,"Contemporary European, Bar / Lounge / Bottle S...",2015-10-19 20:37:03+00:00,2016-08-09T02:40:48Z,41.890262,-87.631646,Beginners,USD,2016-08-07T00:00:00Z,"Corn tortilla, avocado, sesame, soy sauce, mar...",Tuna Tartare Tacos,Hubbard Inn,IL
76949,AVweZ-ZKIN2L1WUf4n9V,110 W Hubbard,Restaurant,Chicago,"Contemporary European, Bar / Lounge / Bottle S...",2015-10-19 20:37:03+00:00,2016-08-09T02:40:48Z,41.890262,-87.631646,Lunch Plates,USD,2016-04-24T00:00:00Z,NaN,Tuna Tartare Taco,Hubbard Inn,IL

In [53]:
# Можно использовать .dt.month, чтобы сгруппировать по месяцам
dateAdded = df_1.groupby(df_1['dateAdded'].dt.month)
result = df_1.groupby(df_1['dateAdded'].dt.month).nunique()

In [52]:
result

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
dateAdded,,,,,,,,,,,,,,,,
1,308,308,249,208,98,306,308,282,282,33,1,324,374,593,228,84
2,257,257,237,170,93,256,257,229,229,26,1,266,326,589,224,82
3,4970,4949,2401,1344,383,4285,4742,3335,3333,122,1,4948,4389,5755,2835,99
4,3224,3204,1538,1553,374,3041,3150,2292,2292,202,2,3243,2791,3646,1858,207
5,1141,1127,721,679,200,1121,1134,848,848,56,1,1196,1254,1751,860,303
6,1356,1350,636,710,187,1281,1324,1151,1151,73,1,1457,1465,1911,790,311
7,645,641,310,442,184,628,641,620,620,161,1,534,748,1057,464,201
8,479,475,104,272,255,442,462,472,472,309,1,131,740,898,454,159
9,554,554,354,320,86,543,539,404,404,41,1,568,525,1004,381,121
10,4716,4697,2491,1850,487,4331,4595,3615,3616,334,1,4799,4760,5958,2910,487
11,1550,1547,1036,853,206,1494,1526,1284,1283,69,1,1598,1356,1862,842,188
12,239,239,172,195,49,237,235,215,215,8,1,246,242,488,155,85

In [65]:
result = df_1.groupby(df_1['dateAdded'].dt.month)['dateAdded'].nunique()

In [66]:
result

dateAdded
1      306
2      256
3     4285
4     3041
5     1121
6     1281
7      628
8      442
9      543
10    4331
11    1494
12     237
Name: dateAdded, dtype: int64

Задание 15
Сделайте группировку по месяцу открытия ресторана (переменная dateAdded). Сколько ресторанов было открыто в каждом месяце? Рассчитайте по количеству уникальных id ресторанов в каждом месяце. Значения dateAdded должны при этом быть индексами. Результирующий датафрейм сохраните в result

In [76]:
dateAdd = df_1.groupby(df_1['dateAdded'].dt.month)
result = dateAdd['id'].nunique().to_frame()

In [77]:
result

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

In [74]:
#correct resolve
result = data.groupby(data['dateAdded'].dt.month).agg({'id': 'nunique'})

              restaurants_opened
month_opened
2014-01                       73
2014-02                       33
2014-06                        1
2014-08                        1
2014-09                        3
2014-10                       48
2014-11                        3
2015-01                       14
2015-02                       42
2015-03                        2
2015-04                       16
2015-05                       15
2015-06                       59
2015-07                      175
2015-08                       21
2015-09                      495
2015-10                     4443
2015-11                     1476
2015-12                      190
2016-01                      157
2016-02                      120
2016-03                     4922
2016-04                     3137
2016-05                     1126
2016-06                     1212
2016-07                      470
2016-08                      457
2016-09                       56
2016-10                      225
2016-11                       71
2016-12                       49
2017-01                       64
2017-02                       62
2017-03                       46
2017-04                       71
2017-06                       84

C:\Temp\ipykernel_12816\2512645445.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_1['month_opened'] = df_1['dateAdded'].dt.to_period('M')

Задание 16
В этом задании нужно добавить столбец update_deltaс количеством целых дней, полученных от разницы между dateUpdated и dateAdded.

Потом для каждого города найдите (в указанном порядке):

- среднее по переменной update_delta

- широту самой северной закусочной (чем севернее расположена закусочная, тем больше будет значение широты)

 Названия городов не должны быть индексами. Сохраните результирующий датафрейм в переменную result.  Также сохраните в переменную zep_mean среднее значение update_delta по городу Zephyrhills.

In [140]:
df_1['update_delta'] = (df_1['dateUpdated'] - df_1['dateAdded']).dt.days

In [141]:
df_1['update_delta'].describe()

count    77260.000000
mean       326.224566
std        219.429051
min          0.000000
25%        149.000000
50%        364.000000
75%        466.000000
max       1276.000000
Name: update_delta, dtype: float64

In [142]:
df_1['update_delta'].median()

364.0

In [114]:
df_1.groupby(df_1['city'], as_index=False).agg({'update_delta': 'mean'})

              city  update_delta
0        Abbeville    -12.000000
1         Aberdeen     -1.625000
2          Abilene     19.136364
3         Abingdon      1.000000
4         Abington      1.000000
...            ...           ...
3596       Zebulon      0.000000
3597   Zephyr Cove      1.500000
3598   Zephyrhills     11.347826
3599  Zieglerville     18.000000
3600    Zionsville      0.500000

[3601 rows x 2 columns]

In [94]:
df_1

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,1
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,1
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,0
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,5
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California,0
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California,0
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California,0
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California,0
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California,0

In [119]:
df_1.groupby('city', as_index=False).agg({'latitude': 'max'})

In [120]:
zep_mean = df_1[df_1['city'] == 'Zephyrhills']['update_delta'].mean()

In [121]:
zep_mean

11.347826086956522

In [ ]:
#correct resolve
data['update_delta'] = (data['dateUpdated'] - data['dateAdded']).dt.days
result = data.groupby('city', as_index=False).agg({'update_delta': 'mean', 'latitude': 'max'})
# через .loc можно писать в одних [] сразу и условие, и желаемые колонки
# вот так: .loc[условие, колонки]
zep_mean = data.loc[data['city'] == 'Zephyrhills', 'update_delta'].mean()

In [122]:
result

              city   latitude
0        Abbeville  29.982108
1         Aberdeen  46.975110
2          Abilene  32.453090
3         Abingdon  36.712800
4         Abington  40.124851
...            ...        ...
3596       Zebulon  33.102090
3597   Zephyr Cove  38.984947
3598   Zephyrhills  28.271183
3599  Zieglerville  40.291611
3600    Zionsville  39.954970

[3601 rows x 2 columns]

In [123]:
result = df_1

In [124]:
result

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,1
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,1
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,0
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,5
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California,0
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California,0
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California,0
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California,0
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California,0

Задание 17
Отберите рестораны, у которых в колонке categories упоминается Pizza

Укажите индекс 3-го элемента, полученного после фильтрации

In [128]:
df_1[df_1['categories'].str.contains('Pizza')]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.12102,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,1
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.12102,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,1
66,AVwc_59U_7pvs4fz1Md3,3250 Kennedy Cir,"Pizza,Take Out Restaurants,Caterers,Restaurant...",Dubuque,Pizza,2016-03-29 04:45:06+00:00,2016-05-05 12:40:51+00:00,42.505264,-90.72141,NaN,NaN,"2016-05-05T12:40:51Z,2016-03-29T04:45:06Z",NaN,Taco Supreme,Falbo Bros Pizzeria,IA,24
67,AVwc_59U_7pvs4fz1Md3,3250 Kennedy Cir,"Pizza,Take Out Restaurants,Caterers,Restaurant...",Dubuque,Pizza,2016-03-29 04:45:06+00:00,2016-05-05 12:40:51+00:00,42.505264,-90.72141,NaN,NaN,"2016-05-05T12:40:51Z,2016-03-29T04:45:06Z",NaN,Taco,Falbo Bros Pizzeria,IA,24
158,AVwc_AmZkufWRAb51FxA,133 Howard St,"Pizza,Restaurants",Braintree,Pizza,2016-09-19 17:43:53+00:00,2016-09-19 17:43:53+00:00,42.233826,-70.98024,NaN,USD,2016-09-19T17:43:53Z,"Large salsa, pizza cheese, hamburger, hot pepp...",Mexican Taco,New England House of Pizza,Braintree Hld,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76256,AVweVOBFByjofQCxxRnN,3000 N Dinuba Blvd,"Latin American Restaurants,Take Out Restaurant...",Visalia,"Latin American Restaurants,Mexican",2016-07-06 20:48:02+00:00,2016-11-18 15:46:04+00:00,36.351383,-119.29696,NaN,USD,2016-07-06T20:48:02Z,"Roasted pork, cabbage, cilantro, onion, beans,...",Tacos De Adobado,Figaro's Mexican Grill,CA,-12
76291,AVweVXD4ByjofQCxxS7L,35 N Farview Ave,"Italian Restaurant,Pizza Place",Paramus,NaN,2016-03-15 19:34:54+00:00,2016-05-06 20:35:40+00:00,NaN,NaN,NaN,USD,2016-03-15T19:34:54Z,NaN,Taco,La Bella Roma Pizzeria,NJ,9
76507,AVweWyOEkufWRAb5CNJU,1516 E Historic Highway 66,"Take Out Restaurants,Restaurants,Italian Resta...",Gallup,Take Out Restaurants,2017-01-12 18:46:56+00:00,2017-01-12 18:46:56+00:00,35.530148,-108.71973,NaN,NaN,2017-01-12T18:46:56Z,"Beef, Whole Beans, Cheddar Cheese, Onion, Lett...",Navajo Taco,Big Cheese Pizza,Pinedale,0
76669,AVweXxalByjofQCxxnWC,1895 Washington Blvd,"Bars,Restaurants,Bar & Grills,Pizza",Ogden,Bars,2016-12-25 18:11:56+00:00,2016-12-25 18:11:56+00:00,41.233300,-111.97047,NaN,USD,2016-12-25T18:11:56Z,"Our famous chili verde, string potatoes, three...",Chili Verde Breakfast Burrito,Slackwater Pub Pizzeria,Marriott-slaterville City,0
76709,AVweYFH-ByjofQCxxqHG,620 Water St S,"Bars,Pizza,Italian Restaurants,Family Style Re...",Northfield,Bars,2016-04-03 12:15:30+00:00,2016-04-03 12:15:30+00:00,44.453735,-93.16171,NaN,NaN,2016-04-03T12:15:30Z,"Mild Tomato chili sauce, chipotle beef topped ...",Taco - A South of The Boarder Favorite,Carbone's Pizzeria,MN,0

Задание 18
В этом задании снова нужно добавить столбец update_delta, куда будет записана разница в днях между dateUpdated и dateAdded.  Посчитайте среднее и медиану получившейся колонки.

Перечислите значения через пробел (сначала среднее, затем медиану), округлив до 2 знаков. 

NB! Оба значения должны быть введены с десятичным разделителем в виде точки.

In [139]:
df_1['update_delta'] = (df_1['dateUpdated'] - df_1['dateAdded']).dt.days

# Расчет среднего и медианы для столбца 'update_delta'
mean_update_delta = round(df_1['update_delta'].mean(), 2)
median_update_delta = round(df_1['update_delta'].median(), 2)

# Вывод результатов
print(f"Среднее значение update_delta: {mean_update_delta}")
print(f"Медиана update_delta: {median_update_delta}")

Среднее значение update_delta: 326.22
Медиана update_delta: 364.0

In [143]:
df_1

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,336
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,336
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson,0
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot,24
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California,0
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California,0
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California,0
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California,0
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22 19:01:33+00:00,2017-06-22 19:01:33+00:00,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California,0

In [156]:
series_split = df_1['categories'].str.split(';')

In [157]:
series_split

0        [Restaurant Delivery Service,Restaurants,Pizza...
1        [Restaurant Delivery Service,Restaurants,Pizza...
2           [Golf Course, American Restaurant, and Resort]
3                                   [Fast Food Restaurant]
4        [Mexican Restaurant Mid-City West,Mexican Rest...
                               ...
77255                                         [Restaurant]
77256                                         [Restaurant]
77257                                         [Restaurant]
77258                                         [Restaurant]
77259                                         [Restaurant]
Name: categories, Length: 77260, dtype: object

In [153]:
import numpy as np

In [158]:
series_apply = series_split.apply()

TypeError: Series.apply() missing 1 required positional argument: 'func'

Задание 19
В этом задании нужно отобрать записи, у которых более 20 категорий, далее их нужно сгруппировать по провинциям и подсчитать минимальную longitude в каждой. Округлите значения longitude до 3-х знаков после запятой.

Далее сохраните результирующий датафрейм в файл в формате csv с сепаратором ;. Сам датафрейм должен содержать две колонки: province и longitude

In [189]:
df_1 = df[df['categories'].str.split(',').apply(len) > 20]

In [183]:
df_1

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
1750,AVwc0uTykufWRAb5zaLW,3111 Highway 6,"Italian Restaurant,Pizza Place,Italian Restaur...",Hitchcock,"American Restaurants,Pizza",2015-10-23T02:24:58Z,2016-05-03T09:11:07Z,29.330672,-94.939345,NaN,USD,2016-03-29T04:55:31Z,"Fish or shrimp with asian sauce, served with b...",Tacos,Bayou Bistro,TX
1751,AVwc0uTykufWRAb5zaLW,3111 Highway 6,"Italian Restaurant,Pizza Place,Italian Restaur...",Hitchcock,"American Restaurants,Pizza",2015-10-23T02:24:58Z,2016-05-03T09:11:07Z,29.330672,-94.939345,NaN,USD,2016-03-29T04:55:31Z,Asian sauce,Taco Fish or Shrimp,Bayou Bistro,TX
3685,AVwc2xERByjofQCxi7pv,1600 Cedar St,"Take Out Restaurants,Sandwich Place,Restaurant...",Elmira,"Fast Food Restaurants,Restaurants",2016-06-20T21:25:00Z,2016-10-13T13:48:57Z,42.057421,-76.793573,NaN,NaN,2016-06-20T21:25:00Z,NaN,Sausage Burrito,Mc Donald's,NY
8946,AVwc8Wr8IN2L1WUfqle8,2510 Navajo Blvd,"Traditional American,Restaurants,Breakfast,Din...",Holbrook,American Restaurants,2015-10-23T01:59:13Z,2017-06-26T10:08:08Z,34.933164,-110.136168,NaN,NaN,2015-10-23T01:59:13Z,NaN,Bacon Avocado Burrito,Denny's,AZ
9430,AVwc9KdR_7pvs4fz0vNv,1706 G St NW,"Restaurants,Delis And Delicatessens,Eclectic /...",Washington,Italian,2015-09-28T23:10:05Z,2017-06-28T03:30:13Z,38.898239,-77.040153,burritos,NaN,2015-09-28T23:10:05Z,"flour tortilla, rice, sauteed peppers and onio...",Fajita Burrito,G Street Food,DC
11144,AVwcfQPsIN2L1WUflfnB,1025 N Fillmore St,"Gastropub,New American Restaurant,Gastropub an...",Arlington,"Continental Restaurants,Bars",2016-04-03T12:15:35Z,2017-07-06T04:44:07Z,38.884975,-77.092562,NaN,USD,"2016-05-21T02:02:02Z,2016-06-08T16:21:31Z",NaN,"Crispy Pig Taco, Avocado",Green Pig Bistro,VA
13174,AVwchA_g_7pvs4fzv7X1,1207 W Patrick St,"American Restaurant,Diner,Breakfast Spot,Ameri...",Frederick,Yogurt,2016-03-28T05:53:22Z,2017-07-03T19:30:12Z,39.419152,-77.452987,NaN,NaN,2016-03-28T05:53:22Z,NaN,Bacon Avocado Burrito,Denny's,MD
18020,AVwcla11_7pvs4fzwulK,227 Hanover St,"Caf,American Restaurant,Caf and American Resta...",Boston,American Restaurants,2016-06-08T16:30:24Z,2017-07-06T20:55:24Z,42.362970,-71.055180,NaN,USD,2016-06-08T16:30:24Z,"Fried or Grilled with Lettuce, Avocado and Blu...",Buffalo Chicken Tacos,Cobblestone Cafe,MA
18021,AVwcla11_7pvs4fzwulK,227 Hanover St,"Caf,American Restaurant,Caf and American Resta...",Boston,American Restaurants,2016-06-08T16:30:24Z,2017-07-06T20:55:24Z,42.362970,-71.055180,NaN,USD,2016-06-08T16:30:24Z,"Scrambled egg, sausage, home fries, pico de ga...",Breakfast Burrito,Cobblestone Cafe,MA
18558,AVwclMRD_7pvs4fzwsCD,2463 Demere Rd,"American Restaurants,Bars,Delicatessens,Take O...",Saint Simons Island,"American Restaurants,Mexican",2016-04-03T12:17:33Z,2017-03-03T22:08:21Z,31.161146,-81.394050,NaN,NaN,2016-06-07T20:48:00Z,Two flour tortillas stuffed with your choice o...,Tacos,Locos Grill & Pub,St Simons Is
18559,AVwclMRD_7pvs4fzwsCD,2463 Demere Rd,"American Restaurants,Bars,Delicatessens,Take O...",Saint Simons Island,"American Restaurants,Mexican",2016-04-03T12:17:33Z,2017-03-03T22:08:21Z,31.161146,-81.394050,NaN,NaN,2016-06-07T20:48:00Z,Our flour tortilla stuffed with grilled chicke...,Locos Burrito,Locos Grill & Pub,St Simons Is
24317,AVwcqhxkIN2L1WUfnhZf,5425 Russell Ave NW,"Breakfast Spot,American Restaurant,Restaurants...",Seattle,Restaurants,2016-03-22T03:46:11Z,2017-07-06T19:11:36Z,47.668319,-122.383123,NaN,USD,2017-04-20T19:09:05Z,NaN,Ballard Barrio Breakfast Burrito,Hi-Life,WA
25612,AVwcrlTPByjofQCxhAql,18750 Herndon / Oak Grove Rd,"American Restaurants,Hamburgers & Hot Dogs,Bre...",Oak Grove,American Restaurants,2015-10-23T03:15:49Z,2016-12-13T12:13:38Z,36.697415,-87.454722,NaN,NaN,"2015-10-23T03:15:49Z,2016-03-31T02:40:41Z","Crispy bacon, avocado, two scrambled eggs, our...",Bacon Avocado Burrito,Denny's,KY
26603,AVwcsKhekufWRAb5x-QF,2331 Calvert St NW,"Breakfast Spot,Coffee Shop,Diner,Restaurants,C...",Washington,"Traditional American,Burgers,American (Traditi...",2014-02-07T05:22:00Z,2017-07-06T18:09:08Z,38.923527,-77.051750,NaN,USD,"2015-11-08T06:06:52Z,2016-03-22T04:20:23Z",NaN,Open City Burrito,Open City,DC
26604,AVwcsKhekufWRAb5x-QF,2331 Calvert St NW,"Breakfast Spot,Coffee Shop,Diner,Restaurants,C...",Washington,"Traditional American,Burgers,American (Traditi...",2014-02-07T05:22:00Z,2017-07-06T18:09:08Z,38.923527,-77.051750,NaN,NaN,2015-11-08T06:06:52Z,"Scrambled eggs with chorizo, hashbrowns, scall...",Oc Burrito,Open City,DC
35857,AVwd24tTIN2L1WUfz09M,514 E Wilson St,"German Restaurant,Bar,Beer Garden,Bars & Clubs...",Madison,Continental Restaurants,2015-05-22T23:16:17Z,2017-07-03T14:30:33Z,43.076156,-89.376639,NaN,NaN,2016-03-31T01:29:50Z,NaN,Veggie Burrito,Essen Haus,WI
35858,AVwd24tTIN2L1WUfz09M,514 E Wilson St,"German Restaurant,Bar,Beer Garden,Bars & Clubs...",Madison,Continental Restaurants,2015-05-22T23:16:17Z,2017-07-03T14:30:33Z,43.076156,-89.376639,NaN,NaN,2016-03-31T01:29:50Z,Shredded tender chicken breast seasoned with s...,Chicken Burrito,Essen Haus,WI
39127,AVwdAFNN_7pvs4fz1Oe8,550 Marina Pkwy,"American Restaurant,Seafood Restaurant,Burger ...",Chula Vista,"American,American Restaurants",2015-10-23T03:08:07Z,2017-07-06T03:56:08Z,32.625628,-117.101095,NaN,USD,2016-05-19T09:05:15Z,NaN,Taco Tuesday,Galley At The Marina,CA
39128,AVwdAFNN_7pvs4fz1Oe8,550 Marina Pkwy,"American Restaurant,Seafood Restaurant,Burger ...",Chula Vista,"American,American Restaurants",2015-10-23T03:08:07Z,2017-07-06T03:56:08Z,32.625628,-117.101095,NaN,USD,2016-05-19T09:05:15Z,NaN,Tacos Fish or Beef,Galley At The Marina,CA
39129,AVwdAFNN_7pvs4fz1Oe8,550 Marina Pkwy,"American Restaurant,Seafood Restaurant,Burger ...",Chula Vista,"American,American Restaurants",2015-10-23T03:08:07Z,2017-07-06T03:56:08Z,32.625628,-117.101095,NaN,NaN,2016-05-19T09:05:15Z,NaN,Mahi Mahi Fish Tacos,Galley At The Marina,CA
39130,AVwdAFNN_7pvs4fz1Oe8,550 Marina Pkwy,"American Restaurant,Seafood Restaurant,Burger ...",Chula Vista,"American,American Restaurants",2015-10-23T03:08:07Z,2017-07-06T03:56:08Z,32.625628,-117.101095,NaN,NaN,2016-05-19T09:05:15Z,NaN,Breakfast Burrito,Galley At The Marina,CA
39131,AVwdAFNN_7pvs4fz1Oe8,550 Marina Pkwy,"American Restaurant,Seafood Restaurant,Burger ...",Chula Vista,"American,American Restaurants",2015-10-23T03:08:07Z,2017-07-06T03:56:08Z,32.625628,-117.101095,NaN,NaN,2016-05-19T09:05:15Z,NaN,Baja Fish or Mahi Mahi Tacos,Galley At The Marina,CA
54198,AVwdlqiakufWRAb57XVI,495 Beach St,"Traditional American,Restaurants,Breakfast,Din...",San Francisco,American Restaurants,2015-11-02T17:15:06Z,2017-07-01T14:06:19Z,37.807087,-122.417190,NaN,NaN,2016-03-22T04:14:48Z,NaN,Bacon Avocado Burrito,Denny's,CA
55119,AVwdMJ8QIN2L1WUftJ5k,8865 Santa Monica Blvd,"Mexican Restaurant,Gay Bar,Restaurant,Happy Ho...",West Hollywood,Mexican,2016-03-22T03:41:14Z,2017-07-06T19:21:02Z,34.085178,-118.383771,NaN,USD,2016-03-22T03:41:14Z,"Three steak and shrimp tacos with guacamole, p...",Surf and Turf Tacos,Fiesta Cantina,CA
55120,AVwdMJ8QIN2L1WUftJ5k,8865 Santa Monica Blvd,"Mexican Restaurant,Gay Bar,Restaurant,Happy Ho...",West Hollywood,Mexican,2016-03-22T03:41:14Z,2017-07-06T19:21:02Z,34.085178,-118.383771,NaN,USD,2016-03-22T03:41:14Z,"Three tacos with pineapple salsa, guacamole, c...",Baja Grilled Fish or Shrimp Tacos,Fiesta Cantina,CA
55121,AVwdMJ8QIN2L1WUftJ5k,8865 Santa Monica Blvd,"Mexican Restaurant,Gay Bar,Restaurant,Happy Ho...",West Hollywood,Mexican,2016-03-22T03:41:14Z,2017-07-06T19:21:02Z,34.085178,-118.383771,NaN,USD,2016-03-22T03:41:14Z,"Chicken, steak, or sauteed veggies, Spanish ri...",Fiesta Burrito,Fiesta Cantina,CA
55122,AVwdMJ8QIN2L1WUftJ5k,8865 Santa Monica Blvd,"Mexican Restaurant,Gay Bar,Restaurant,Happy Ho...",West Hollywood,Mexican,2016-03-22T03:41:14Z,2017-07-06T19:21:02Z,34.085178,-118.383771,NaN,USD,2016-03-22T03:41:14Z,"Three chicken, steak or sauteed veggie tacos t...",Cantina Tacos,Fiesta Cantina,CA
55123,AVwdMJ8QIN2L1WUftJ5k,8865 Santa Monica Blvd,"Mexican Restaurant,Gay Bar,Restaurant,Happy Ho...",West Hollywood,Mexican,2016-03-22T03:41:14Z,2017-07-06T19:21:02Z,34.085178,-118.383771,NaN,USD,2016-03-22T03:41:14Z,NaN,Cantina Burritos,Fiesta Cantina,CA
55124,AVwdMJ8QIN2L1WUftJ5k,8865 Santa Monica Blvd,"Mexican Restaurant,Gay Bar,Restaurant,Happy Ho...",West Hollywood,Mexican,2016-03-22T03:41:14Z,2017-07-06T19:21:02Z,34.085178,-118.383771,NaN,USD,2016-03-22T03:41:14Z,"Filled with Spanish rice, black beans and thre...",Barrio Burrito,Fiesta Cantina,CA
55125,AVwdMJ8QIN2L1WUftJ5k,8865 Santa Monica Blvd,"Mexican Restaurant,Gay Bar,Restaurant,Happy Ho...",West Hollywood,Mexican,2016-03-22T03:41:14Z,2017-07-06T19:21:02Z,34.085178,-118.383771,NaN,USD,2016-03-22T03:41:14Z,NaN,Baja Breakfast Burrito,Fiesta Cantina,CA
69934,AVweCHAFByjofQCxur2G,1700 Ocean Ave,"New American Restaurant,Sushi Restaurant,Firep...",Santa Monica,Seafood,2016-05-19T11:27:50Z,2017-07-06T02:48:40Z,34.009119,-118.493038,NaN,USD,"2016-05-19T11:27:50Z,2017-03-28T20:14:28Z","Scrambled eggs, chorizo, potatoes, chile, ched...",Breakfast Burrito,Ocean and Vine,CA
69935,AVweCHAFByjofQCxur2G,1700 Ocean Ave,"New American Restaurant,Sushi Restaurant,Firep...",Santa Monica,Seafood,2016-05-19T11:27:50Z,2017-07-06T02:48:40Z,34.009119,-118.493038,NaN,USD,"2016-05-19T11:27:50Z,2017-03-28T20:14:28Z","Warm Corn Tortillas, Cabbage, Chipotle Remoula...",Pacific Flounder Fish Tacos,Ocean and Vine,CA
70095,AVwecqJUByjofQCxyS7W,5507 Connecticut Ave N W,"Washington Washington,Venues,Restaurant,Washin...",Washington,American (New),2015-09-28T22:48:15Z,2015-09-28T22:48:15Z,38.963289,-77.074610,NaN,NaN,2015-09-28T22:48:15Z,a large flour tortilla filled with scrambled e...,Burrito Mananero,La Lomita Dos,DC
71963,AVwegw9LIN2L1WUf5n-Y,458 7th Ave,"New York City,Restaurant,Midtown-south-chelsea...",New York,"Delis, Sandwiches",2015-09-28T04:21:30Z,2015-09-28T04:21:30Z,40.751600,-73.990491,NaN,USD,2015-09-28T04:21:30Z,NaN,B7. Breakfast Burrito,Al's Delicatessen,G P O

In [190]:
result = df_1.groupby('province').agg({'longitude': 'min'})

In [185]:
result

               longitude
province
AZ           -110.136168
CA           -118.239676
DC            -77.054566
G P O         -73.990491
KY            -87.454722
MA            -71.055180
MD            -77.452987
NY            -76.793573
St Simons Is  -81.394050
TX            -94.939345
VA            -77.092562
WA           -122.383123
WI            -89.376639

In [191]:
result['longitude'] = result['longitude'].round(3)

In [192]:
result.to_csv('playstore_change.csv', ';')

In [ ]:
#correct resolve 
tmp = data[data['categories'].str.split(',').str.len() > 20].groupby('province')['longitude'].min().round(3)
tmp.to_csv('hw_7.csv', sep=';')